@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}
body{
    background-color:white;
}

header {
    width: 100%;
    padding:0px 30px;
    margin-top:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.active{
    background-color: #669933;
}
#main-menu-tto {
    list-style:none;
    display: flex;
}
#main-menu-tto .clearfix img{
    height: 39px;
}
#main-menu-tto .clearfix {
    margin:auto ;
    margin-left: 340px;
}
#main-menu-tto .clearfix input {
    margin:auto ;
    height: 40px;
    width: 250px;
}
#main-menu-tto .clearfix span {
    width: auto;
    height: auto;
    background-color: hsl(from color h s l);
}
#main-menu-tto .clearfix #hi {
    height: 40px;
}
#main-menu-tto .clearfix #hi:hover{
    height: 40px;
    background-color: aquamarine;
}
#main-menu-tto .clearfix a {
    color:black;
    text-decoration: none;
}
#main-menu-tto .clearfix a:hover{
    color: white;
    background-color:#669933;
    height: 40px;
}

#banner {
    width:auto;
    background-image :url("hinhanh/slider_2.jpg") ;
    height: 463px;
    margin-top:30px;
    display: flex;
    padding:0px 133px;
    position:relative;
}

#banner .box-left ,#banner .box-right {
    width: 50%;
}

#banner  .box-left h2 {
    font-size:45px;
    margin-top:10px;
    margin-left: 60px;
    color:whitesmoke;
}

#banner .box-left p {
    color:whitesmoke;
    margin-left: 60px;
    margin-top: -6px;
}

#banner .box-right {
    padding-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin:0px 10px;
    animation :animation 3s infinite linear; 
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

.to-bottom {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}

#wp-product h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size:32px;
    color:rgb(92, 34, 0);;
    
}
#products{
    margin-top: -40px;
}

#wp-products {
    padding-top:50px;
    padding-bottom: 78px;
    padding-left:40px;
    padding-right:40px;
}
#wp-products h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size:32px;
    color:rgb(92, 34, 0);
    margin-top: 40px;

    
}
#wp-products h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size:32px;
    color:rgb(92, 34, 0);;
    border-style: solid none none none;
    border-color: greenyellow;
    border-width: 5px;
    margin-top: -160px;
    
}
#wp-products h3 {
    text-align: center;
    margin-bottom: 50px;
    color:#626a67;
    display: block;
    margin-top: -50px;
    font-size: 15px;
}
#wp-products .center img{
    margin-top: 100px;

}
#list-box{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#list-box .item img{
    width: 400px;
    height: 180px;
    background:white;
    border-radius: 30px;
    margin-bottom: 50px;
    border:5px solid greenyellow;
}
#phongto {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    }
     
#phongto:hover {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
}

#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: -400px;
}

#list-products .item {
    width: 290px;
    height: 374px;
    background:white;
    border-radius: 30px;
    margin-bottom: 50px;
    border:5px solid greenyellow;
    animation :animation 4s infinite linear; 
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;

    
}

#list-products .item img {
    display: block;
    margin:0px auto;
    margin-top:-10px;
    margin-left: 1px;
    width: 261px;
    height: 186px;
    transition: all .3s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    
}
#list-products .item a{
    display: block;
    margin:0px auto;
    margin-top:17px;
    width: 261px;
    height: 186px;
    transition: all .3s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    
}
#list-products :hover{
    transform: scale(1.12,1.12);
    -webkit-transform: scale(1.12,1.12);;
    -moz-transform: scale(1.12,1.12);
    -o-transform: scale(1.12,1.12);
    -ms-transform: scale(1.12,1.12);
}
#list-products .item .name {
    text-align: center;
    color:#F751A7;
    font-weight: bold;
    margin-top:21px;
}
#list-products .item .price {
    text-align: center;
    color:#f42424;
    font-weight: bold;
    margin-top:20px;
}
#list-products .item button {
    text-align: center;
    color:white;
    font-weight: bold;
    margin-top:21px;
    background: #669933;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 85px;
}

.list-page {
    width: 100%;
    margin:0px auto;
    
}

.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 300px;
}
.list-page1{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 300px;
    border-style: none none solid none;
    border-color: greenyellow;
    border-width: 5px;
    
}

.list-page .item {
    margin:0px 15px;
    width: 130px;
    height: 37px;
    background:whitesmoke;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid greenyellow;
}
.list-page .item a {
    color:green;
    text-decoration: none;
}
.list-page .item a:hover {
    background:#669933 !important;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 37px;
    color: white;
}

.list-page1 .item {
    margin:0px 15px;
    width: 130px;
    height: 37px;
    background:whitesmoke;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid greenyellow;
}
.list-page1 .item a {
    color:green;
    text-decoration: none;
}
.list-page1 .item a:hover {
    background:#669933 !important;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 37px;
    color: white;
}


#saleoff {
    width: 100%;
    display: flex;
    height: 322px;
    margin-top: -300px;
}
#saleoff .box-left ,#saleoff .box-right {
    width: 50%;
}
#saleoff .box-left {
    background:#3e413e;
    text-align: center;
    min-height: 322px;
}

#saleoff .box-left h1 {
    padding-top:38px;
}
#saleoff .box-left span:nth-child(1)
{
    color:#fff;
    font-size:50px;
}

#saleoff .box-left span:nth-child(2)
{
    color:orange;
    font-size:128px;
}

#saleoff .box-right {
    background-image:url("hinhanh/ddd.jpg");
}


#comment {
    width: 1012px;
    height: 470px;
    margin:0px auto;
    margin-top:184px;
    margin-bottom: 50px;
}

#comment h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size:32px;
    color:#626a67;
}


#comment-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    list-style: none;
    overflow: hidden;
}

#list-comment {
    width: 100%;
    height: 100%;
    list-style: none;
    transition:0.5s;
}

#list-comment .item {
    width: 100%;
    height: 100%;
    background:#362f2f;
    border-radius: 20px;
    padding-top:50px;
}

#list-comment .item .avatar {
    text-align: center;
    margin-top:13px;
    clip-path: circle(50%);
    height: 7em;
    width: 7em;
    margin-left: 345px;
}

#list-comment .item .stars {
    display: flex;
    margin:0px auto;
    width: 50%;
    margin-top:32px;
    justify-content: center;
    align-items: center;
}

#list-comment .item .name {
    text-align: center;
    font-weight: bold;
    color:#fff;
}

#list-comment .item .text {
    padding:20px 50px;
    color:#fff;
   
}

footer {
    width: 100%;
    background:rgb(0,0,0,0.79);
    height: 322px;
    margin-top:338px;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

footer .box {
    width: 250px;
    color:#fff;
}

footer .box .quick-menu {
    margin-top:40px;

}


footer .box .quick-menu .item{
    margin-bottom:12px;

}
footer .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}



footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}

footer .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}
a, .dropbtn{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown-content a:hover, .dropdown:hover .dropbtn{
    background-color:#669933;
    height: 50px;
    color: white;
}
.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}
.dropdown-content a:hover{
    border-radius: 0px;
    color: white;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #669933;}
.dropdown:hover .dropdown-content{
    display: block;
}

.wrapper-nav{
    background-color:aquamarine;
    height: 41px;
}
    
.wrapper-nav.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7000;
    box-shadow: 0 0 5px 2px #ccc;
}

.wrapper-nav.fixed .nav-main {
    width: 980px;
}

.nav-main {
    height: 36px;
}

.nav-main>ul {
    position: relative;
    width: 100%;
    max-width: 980px;
	padding: 0px;
	margin: 0px;
}
.nav-main>ul>li {
	list-style: none;
    float: left;
    padding: 12px 0 10px;
    border-bottom: solid 1px #ccc;
}
.nav-main>ul>li {
    color: #333;
    font-weight: 700;
    float: left;
    font-size: 14px;
    padding: 1px 3.6px;
    border-left: solid 1px #ccc;
    height: 40px;
}

.boxx{
    text-align: center;
    width: 600px;
    height: auto;
    padding: 25px;
    border-radius: 25px;
    position: absolute;
    left: 70%; top: 117%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 20px 0px chartreuse, 0px 0px;
}
.boxx h1{
    color: #5c2200;
    font-size: 25px;
    text-align: center;
}

.boxx p{
    background-color: chartreuse;
    height: 50px;
    width: 100%;
}
.boxx input[type="text"]{
    background: none;
    outline: none;
    width: 550px;
    height: 40px;
    border-radius: 10px;
    padding: 0px 15px;
    margin: 15px 0px;
    border: solid 2px chartreuse;
}
.boxx textarea{
    background: none;
    outline: none;
    width: 550px;
    border-radius: 10px;
    padding: 0px 15px;
    margin: 15px 0px;
    border: solid 2px chartreuse;
}

.boxx input[type="submit"]{
    background: chartreuse ;
    outline: none;
    width: 550px;
    height: 45px;
    border-radius: 40px;
    margin: 15px 0px;
    color:yellow    ;
    font-size: 18px;
    transition: 1s;
}
.boxx input[type="submit"]:hover{
    background: red;
    transition: 1s;
}
.divcol-inner50{
    color: black;
    width: 590px;
    margin: 40px;
}
.divcol-inner50 li{
    margin: 15px;
}
.p62{
    margin: 15px;
}